/* General CSS */
body {
    font: 14px montserrat, sans-serif;
}

.container {
    max-width: 1150px;
    margin: 10px auto;
}

.search-icon {
    width: 20px;
    vertical-align: middle;
}

hr {
    height: 1px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0;
}

/* START: header */
header > .container {
    max-width: 1000px;
    background-color: black; /*to be removed*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 170px;
}

header > .container > nav > ul > li {
    display: inline-flex;
    color: white;
    font-weight: 600;
    margin-right: -4px;
    position: relative;
    padding: 20px;
}

header > .container > nav:last-of-type > ul > li:last-of-type {
    padding: 17px 10px;
}

header > .container > nav > ul > li:hover {
    color: #ce93d8;
}

header > .container > nav > ul > li > ul {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: max-content;
    font-weight: normal;
    visibility: hidden;
    opacity: 0;
    transition-property: visibility, opacity;
    transition-delay: .2s;
    transition-duration: .35s;
    transition-timing-function: ease-in;
}

header > .container > nav > ul > li > ul > li > a {
    color: rgb(95, 95, 95);
    background-color: #f5f5f5;
    display: block;
    padding: 18px 0;
    padding-left: 30px;
    min-width: 200px;
}

header > .container > nav > ul > li > ul > li:hover > a {
    color: black;
    background-color: white;
    border-left: 3px solid #ce93d8;
    padding-left: 27px;
}

header > .container > nav > ul > li > div {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    transition-property: visibility, opacity;
    transition-delay: .2s;
    transition-duration: .35s;
    transition-timing-function: ease-in;
}

header > .container > nav > ul > li > div > input {
    display: inline-block;
    color: black;
    background-color: #F4F6F7;
    font-size: 15px;
    padding: 6px 38px 6px 10px;
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    outline: none;
    min-height: 28px;
    min-width: 200px;
}

header > .container > nav > ul > li > div > a {
    display: inline-block;
    padding: 6px;
    position: absolute;
    top: 28%;
    right: 8%;
}

header > .container > nav > ul > li:hover > ul, header > .container > nav > ul > li:hover > div {
    visibility: visible;
    opacity: 1;
}
/* END: : header */

/* START: section 1 */
/* END: : section 1 */

/* START: section 2 */
/* END: : section 2 */

/* START: footer */
footer {
    position: relative;
}

#footer-top > div {
    display: flex;
    justify-content: center;
    padding: 60px 0;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    width: 100%;
}

#footer-top > div > div:first-of-type {
    margin-right: 60px;
}

#footer-top > div > div:last-of-type {
    margin-left: 60px;
}

#footer-top > div > div > div {
    display: inline-block;
    margin-left: 30px;
    vertical-align: top;
}

#footer-top > div > div > div > span {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    vertical-align: top;
}

#footer-top > div > div > div > p {
    color: #84929D;
    margin-top: 20px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 100;
}

#footer-top #map {
    height: 896px;
    width: 100%;
}

#footer-middle {
    /* margin-top: 700px; */
    padding: 100px 0;
    color: #fff;
    background: url("../images/home/footer-bg.jpg") no-repeat 0 0;
    background-size: cover;
}

#footer-middle > .container {
    display: flex;
    justify-content: space-between;
}

#footer-middle > .container > div:first-of-type > img {
    width: 163px;
    margin-bottom: 48px;
}

#footer-middle > .container > div > span {
    display: block;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 40px;
}

#footer-middle > .container > div > span::after {
    display: inline-block;
    font-family: "Font Awesome 6 Pro";
    content: "\f0d7";
    font-size: 15px;
    padding-left: 7px;
    transform: rotate(45deg);
    color: #F44336;
}

#footer-middle > .container > div > p {
    font-size: 14px;
    font-weight: 100;
    line-height: 24px;
    color: #C3C2CE;
    margin-bottom: 24px;
}

#footer-middle > .container > div input {
    display: block;
    background-color: #665387;
    font-size: 15px;
    padding: 7px;
    border: 1px solid #a29cb7;
    border-radius: 3px;
    outline: none;
    min-height: 25px;
    min-width: 350px;
    margin-bottom: 16px;
}

#footer-middle > .container > div > textarea {
    display: block;
    max-width: 350px;
    background-color: #665387;
    font-size: 15px;
    padding: 7px;
    border: 1px solid #a29cb7;
    border-radius: 3px;
    margin-bottom: 26px;
    outline: none;
}

#footer-middle > .container > div:last-of-type > div > input {
    min-width: 295px;
    border-radius: 3px 0 0 3px;
}

#footer-middle > .container > div > a {
    font-weight: bold;
    padding: 10px 164px;
    border-radius: 4px;
    background-color: #CE93D8;
    transition-property: color, background-color;
    transition-duration: .2s;
    transition-timing-function: ease-in;
}

#footer-middle > .container > div > a:hover {
    color: black;
    background-color: #ABA2C1;
}

#footer-middle > .container > div:last-of-type > div {
    position: relative;
}

#footer-middle > .container > div:last-of-type > div > a {
    font-size: 20px;
    position: absolute;
    right: 0;
    bottom: 1%;
    font-weight: bold;
    padding: 9px 15px;
    border-radius: 0 3px 3px 0;
    background-color: #CE93D8;
    transition-property: color, background-color;
    transition-duration: .2s;
    transition-timing-function: ease-in;
}

#footer-middle > .container > div:last-of-type > div > a:hover {
    color: #fff;
    background-color: #4c3853;
}

#footer-middle > .container > div:last-of-type > p:last-of-type {
    color: #99a9b5;
    font-size: 12px;
    font-weight: 100;
}

#footer-middle > .container > div:last-of-type > p:last-of-type > span {
    color: #CE93D8;
}

#footer-bottom {
    color: #99a9b5;
    padding: 46px 0;
    background-color: #181828;
    border-top: 1px solid #313646;
}

#footer-bottom > .container {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 100;
}

#footer-bottom > .container > div:first-of-type > a {
    color: #ce93d8;
}

#footer-bottom > .container > div > nav > ul > li {
    display: inline-block;
    border-right: 1px solid #333146;
}

#footer-bottom > .container > div > nav > ul > li:last-of-type {
    border: none;
}

#footer-bottom > .container > div > nav > ul > li > a {
    color: #99a9b5;
    padding: 10px 20px;
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease-in;
}

#footer-bottom > .container > div > nav > ul > li:hover > a {
    color: #ce93d8;
}

#footer-bottom > .container > div:last-of-type > a {
    padding: 0 5px;
    font-size: 15px;
    transition-property: color;
    transition-duration: .2s;
    transition-timing-function: ease-in;
}

#footer-bottom > .container > div:last-of-type > a:hover {
    color: #fff;
}

/* END: : footer */
