/* General CSS */
body {
    font: 14px montserrat, sans-serif;
}

.container {
    max-width: 1150px;
    margin: 10px auto;
}

.search-icon {
    width: 20px;
    vertical-align: middle;
}

hr {
    height: 1px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0;
}

/* START: header */
header > .container {
    max-width: 1000px;
    background-color: black; /*to be removed*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 170px;
}

header > .container > nav > ul > li {
    display: inline-flex;
    color: white;
    font-weight: 600;
    margin-right: -4px;
    position: relative;
    padding: 20px;
}

header > .container > nav:last-of-type > ul > li:last-of-type {
    padding: 17px 10px;
}

header > .container > nav > ul > li:hover {
    color: #ce93d8;
}

header > .container > nav > ul > li > ul {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: max-content;
    font-weight: normal;
    visibility: hidden;
    opacity: 0;
    transition-property: visibility, opacity;
    transition-delay: .2s;
    transition-duration: .35s;
    transition-timing-function: ease-in;
}

header > .container > nav > ul > li > ul > li > a {
    color: rgb(95, 95, 95);
    background-color: #f5f5f5;
    display: block;
    padding: 18px 0;
    padding-left: 30px;
    min-width: 200px;
}

header > .container > nav > ul > li > ul > li:hover > a {
    color: black;
    background-color: white;
    border-left: 3px solid #ce93d8;
    padding-left: 27px;
}

header > .container > nav > ul > li > div {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    transition-property: visibility, opacity;
    transition-delay: .2s;
    transition-duration: .35s;
    transition-timing-function: ease-in;
}

header > .container > nav > ul > li > div > input {
    display: inline-block;
    color: black;
    background-color: #F4F6F7;
    font-size: 15px;
    padding: 6px 38px 6px 10px;
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    outline: none;
    min-height: 28px;
    min-width: 200px;
}

header > .container > nav > ul > li > div > a {
    display: inline-block;
    padding: 6px;
    position: absolute;
    top: 28%;
    right: 8%;
}

header > .container > nav > ul > li:hover > ul, header > .container > nav > ul > li:hover > div {
    visibility: visible;
    opacity: 1;
}
/* END: : header */

/* START: section 1 */
/* END: : section 1 */

/* START: section 2 */
#section2 {
    margin: 50px 0;
    padding: 130px 0;
    text-align: center;
    height: 800px;
    background: url("../images/home/section2-bg.jpg") no-repeat 0 0;
}

#section2-top > span {
    color: #3D3950;
    font-size: 52px;
    font-weight: 100;
    font-style: normal;
    margin: 0 8px;
}

#section2-top > span:last-of-type {
    font-weight: bold;
}

#section2-middle {
    text-align: left;
    margin: 80px 0;
}

#section2-middle > span {
    display: block;
    margin-bottom: 40px;
    color: #3E3B51;
    font-size: 30px;
    font-weight: 600;
}

#section2-middle > p {
    color: #758590;
    font-size: 21px;
    font-weight: 100;
    line-height: 36px;
}

#section2-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section2-bottom > ul > li {
    display: inline-block;
    margin-right: 30px;
}

#section2-bottom > ul > li:last-of-type {
    margin-right: 0;
}

#section2-bottom > ul > li > a {
    background-color: #F0F3F2;
}

#section2-bottom > ul > li > a > p {
    line-height: 24px;
    color: #6F808C;
    background-color: #F0F3F2;
    padding: 38px 48px;
    transition-property: color, background-color;
    transition-duration: .2s;
    transition-timing-function: ease-in;
}

#section2-bottom > ul > li > a > p:first-of-type {
    color: #434157;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    padding-bottom: 0;
}

#section2-bottom > ul > li > a > p > img {
    width: 50px;
}

#section2-bottom > ul > li > a:hover > p {
    background-color: #3F4163;
    color: white;
}

/* END: : section 2 */

/* START: section 3 */
/* END: : section 3 */

/* START: section 4 */
/* END: : section 4 */

/* START: section 5 */
/* END: : section 5 */

/* START: section 6 */
/* END: : section 6 */

/* START: footer */
/* END: : footer */
