/* General CSS */
body {
    font: 14px montserrat, sans-serif;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

.search-icon {
    width: 20px;
    vertical-align: middle;
}

hr {
    height: 1px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0;
}

.fa-thin {
    color: #CE93D8;
}

/* START: header */
header > .container {
    max-width: 1000px;
    background-color: black; /*to be removed*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 170px;
}

header > .container > nav > ul > li {
    display: inline-flex;
    color: white;
    font-weight: 600;
    margin-right: -4px;
    position: relative;
    padding: 20px;
}

header > .container > nav:last-of-type > ul > li:last-of-type {
    padding: 17px 10px;
}

header > .container > nav > ul > li:hover {
    color: #ce93d8;
}

header > .container > nav > ul > li > ul {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: max-content;
    font-weight: normal;
    visibility: hidden;
    opacity: 0;
    transition-property: visibility, opacity;
    transition-delay: .2s;
    transition-duration: .35s;
    transition-timing-function: ease-in;
}

header > .container > nav > ul > li > ul > li > a {
    color: rgb(95, 95, 95);
    background-color: #f5f5f5;
    display: block;
    padding: 18px 0;
    padding-left: 30px;
    min-width: 200px;
}

header > .container > nav > ul > li > ul > li:hover > a {
    color: black;
    background-color: white;
    border-left: 3px solid #ce93d8;
    padding-left: 27px;
}

header > .container > nav > ul > li > div {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    transition-property: visibility, opacity;
    transition-delay: .2s;
    transition-duration: .35s;
    transition-timing-function: ease-in;
}

header > .container > nav > ul > li > div > input {
    display: inline-block;
    color: black;
    background-color: #F4F6F7;
    font-size: 15px;
    padding: 6px 38px 6px 10px;
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    outline: none;
    min-height: 28px;
    min-width: 200px;
}

header > .container > nav > ul > li > div > a {
    display: inline-block;
    padding: 6px;
    position: absolute;
    top: 28%;
    right: 8%;
}

header > .container > nav > ul > li:hover > ul, header > .container > nav > ul > li:hover > div {
    visibility: visible;
    opacity: 1;
}
/* END: : header */

/* START: section 1 */
/* END: : section 1 */

/* START: section 2 */
#section2 {
    margin-top: 50px;
    padding: 130px 0;
    text-align: center;
    height: 800px;
    background: url("../images/home/section2-bg.jpg") no-repeat 0 0;
    background-size: cover;
}

#section2-top > span {
    color: #3D3950;
    font-size: 52px;
    font-weight: 100;
    font-style: normal;
    margin: 0 8px;
}

#section2-top > span:last-of-type {
    font-weight: bold;
}

#section2-middle {
    text-align: left;
    margin: 80px 0;
}

#section2-middle > span {
    display: block;
    margin-bottom: 40px;
    color: #3E3B51;
    font-size: 30px;
    font-weight: 600;
}

#section2-middle > p {
    color: #758590;
    font-size: 21px;
    font-weight: 100;
    line-height: 36px;
}

#section2-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section2-bottom > ul > li {
    display: inline-block;
    margin-right: 30px;
}

#section2-bottom > ul > li:last-of-type {
    margin-right: 0;
}

#section2-bottom > ul > li > a {
    background-color: #F0F3F2;
}

#section2-bottom > ul > li > a > p {
    line-height: 24px;
    color: #6F808C;
    background-color: #F0F3F2;
    padding: 38px 48px;
    transition-property: color, background-color;
    transition-duration: .2s;
    transition-timing-function: ease-in;
}

#section2-bottom > ul > li > a > p:first-of-type {
    color: #434157;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    padding-bottom: 0;
}

#section2-bottom > ul > li > a > p > img {
    width: 50px;
    filter: invert(10%) sepia(90%) saturate(5268%) hue-rotate(245deg) brightness(109%) contrast(155%);
}

#section2-bottom > ul > li > a:hover > p {
    background-color: #3F4163;
    color: white;
}

/* END: : section 2 */

/* START: section 3 */
/* END: : section 3 */

/* START: section 4 */
#section4 {
    text-align: center;
    background: url("../images/home/section4-bg.jpg") no-repeat 0 0;
    background-size: cover;
    padding: 160px 0;
}

#section4-top > span {
    color: #3E3B51;
    font-size: 40px;
    font-weight: 100;
    margin: 0 4px;
}

#section4-top > span:last-of-type {
    font-weight: bold;
}

#section4-top > p {
    color: #6B7D88;
    font-size: 22px;
    font-weight: 100;
    line-height: 36px;
    margin-top: 40px;
}

#section4-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

#section4-bottom > div {
    position: relative;
}

#section4-bottom > div > img {
    position: absolute;
    top: 38%;  
    left: 50%; 
    transform: translate(-50%, -50%);
}

#section4-bottom > div > p:first-of-type {
    position: relative;
    color: #99A9B5;
    font-size: 26px;
    font-weight: bold;
    margin: 70px 0;
}

#section4-bottom > div > p:last-of-type {
    position: relative;
    color: #778592;
    font-size: 14px;
    line-height: 22px;
    font-weight: 100;
}
/* END: : section 4 */

/* START: section 5 */
#section5 {
    color: #B6C6C9;
    text-align: center;
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}

video.fullscreen {
    position: absolute;
    object-fit: cover;
    width:101%;
    height:100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}  

#section5-top > span {
    font-size: 40px;
    font-weight: 100;
    margin: 0 3px;
}

#section5-top > span:last-of-type {
    font-weight: bold;
}

#section5-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
}

#section5-bottom > div:first-of-type {
    text-align: left;
}

#section5-bottom > div:first-of-type > span {
    display: block;
    font-size: 30px;
    font-weight: 600;
    margin: 50px 0;
}

#section5-bottom > div:first-of-type > span:first-of-type {
    margin-top: 0;
}

#section5-bottom > div:first-of-type > p {
    font-size: 14px;
    font-weight: 100;
    line-height: 24px;
}

#section5-bottom > div:first-of-type > a {
    display: inline-block;
    color: #FFFFFF;
    background-color: #CE93D8;
    font-size: 40px;
    font-weight: 600;
    padding: 26px 50px;
    border-radius: 50px;
    transition-property: background-color;
    transition-duration: .2s;
    transition-timing-function: ease-in;
}

#section5-bottom > div:first-of-type > a:hover {
    background-color: #90B5C0;
}

#section5-bottom > div:last-of-type > div {
    margin-bottom: 40px;
}

#section5-bottom > div:last-of-type > div > p {
    display: inline-block;
    background-color: #253a4bd7;
    font-size: 25px;
    line-height: 38px;
    font-weight: 100;
    border: 1px solid rgba(255, 255, 255, 0.45);
    margin-right: 40px;
    width: 250px;
    height: 210px;
}

#section5-bottom > div:last-of-type > div > p:last-of-type {
    margin-right: 0;
}

#section5-bottom > div:last-of-type > div > p > img {
    opacity: 0.7;
    margin-top: 30px;
    margin-bottom: 16px;
}

#section5-bottom > div:last-of-type > div > p > span {
    font-weight: bold;
}
/* END: : section 5 */

/* START: section 6 */
#section6 {
    background: url("../images/home/rocket_bg.jpg") no-repeat 0 0;
    background-size: cover;
    padding: 160px 0;
}

#section6-top > div:first-of-type {
    text-align: center;
    margin-bottom: 80px;
}

#section6-top > div:first-of-type > span {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 0 5px;
}

#section6-top > div:first-of-type > span:first-of-type {
    font-weight: 100;
}

#section6-top > div:last-of-type {
    display: flex;
    justify-content: space-between;
}

#section6-top > div:last-of-type > a {
    background-color: white;
    width: 290px;
    height: 340px;
    padding: 40px;
    border-bottom: 5px solid #ce93d8;
}

#section6-top .team-person-image {
    border-radius: 50%;
    width: 130px;
}

#section6-top .team-person-info > p:first-of-type {
    color: #5C5A6D;
    font-size: 22px;
    font-weight: 100;
    margin: 30px 0;
}

#section6-top .team-person-info > p:last-of-type {
    color: #909497;
    font-size: 13px;
    font-weight: 100;
}
/* END: : section 6 */

/* START: footer */
footer {
    position: relative;
}

#footer-top > div {
    display: flex;
    justify-content: center;
    padding: 60px 0;
    background-color: rgba(255, 255, 255, 0.9);
}

#footer-top > div > div:first-of-type {
    margin-right: 60px;
}

#footer-top > div > div:last-of-type {
    margin-left: 60px;
}

#footer-top > div > div > div {
    display: inline-block;
    margin-left: 30px;
    vertical-align: top;
}

#footer-top > div > div > div > span {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    vertical-align: top;
}

#footer-top > div > div > div > p {
    color: #84929D;
    margin-top: 20px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 100;
}

#footer-top #map {
    height: 896px;
    width: 100%;
}

#footer-middle {
    /* margin-top: 700px; */
    padding: 100px 0;
    color: #fff;
    background: url("../images/home/footer-bg.jpg") no-repeat 0 0;
    background-size: cover;
}

#footer-middle > .container {
    display: flex;
    justify-content: space-between;
}

#footer-middle > .container > div:first-of-type > img {
    width: 163px;
    margin-bottom: 48px;
}

#footer-middle > .container > div > span {
    display: block;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 40px;
}

#footer-middle > .container > div > span::after {
    display: inline-block;
    font-family: "Font Awesome 6 Pro";
    content: "\f0d7";
    font-size: 15px;
    padding-left: 7px;
    transform: rotate(45deg);
    color: #F44336;
}

#footer-middle > .container > div > p {
    font-size: 14px;
    font-weight: 100;
    line-height: 24px;
    color: #C3C2CE;
    margin-bottom: 24px;
}

#footer-middle > .container > div input {
    display: block;
    background-color: #665387;
    font-size: 15px;
    padding: 7px;
    border: 1px solid #a29cb7;
    border-radius: 3px;
    outline: none;
    min-height: 25px;
    min-width: 350px;
    margin-bottom: 16px;
}

#footer-middle > .container > div > input:last-of-type {
    min-height: 86px;
    margin-bottom: 26px;
}

#footer-middle > .container > div:last-of-type > div > input {
    min-width: 295px;
    border-radius: 3px 0 0 3px;
}

#footer-middle > .container > div > a {
    font-weight: bold;
    padding: 10px 164px;
    border-radius: 4px;
    background-color: #CE93D8;
    transition-property: color, background-color;
    transition-duration: .2s;
    transition-timing-function: ease-in;
}

#footer-middle > .container > div > a:hover {
    color: black;
    background-color: #ABA2C1;
}

#footer-middle > .container > div:last-of-type > div {
    position: relative;
}

#footer-middle > .container > div:last-of-type > div > a {
    font-size: 20px;
    position: absolute;
    right: 0;
    bottom: 1%;
    font-weight: bold;
    padding: 9px 15px;
    border-radius: 0 3px 3px 0;
    background-color: #CE93D8;
    transition-property: color, background-color;
    transition-duration: .2s;
    transition-timing-function: ease-in;
}

#footer-middle > .container > div:last-of-type > div > a:hover {
    color: #fff;
    background-color: #4c3853;
}

#footer-middle > .container > div:last-of-type > p:last-of-type {
    color: #99a9b5;
    font-size: 12px;
    font-weight: 100;
}

#footer-middle > .container > div:last-of-type > p:last-of-type > span {
    color: #CE93D8;
}

#footer-bottom {
    color: #99a9b5;
    padding: 46px 0;
    background-color: #181828;
    border-top: 1px solid #313646;
}

#footer-bottom > .container {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 100;
}

#footer-bottom > .container > div:first-of-type > a {
    color: #ce93d8;
}

#footer-bottom > .container > div > nav > ul > li {
    display: inline-block;
    border-right: 1px solid #333146;
}

#footer-bottom > .container > div > nav > ul > li:last-of-type {
    border: none;
}

#footer-bottom > .container > div > nav > ul > li > a {
    color: #99a9b5;
    padding: 10px 20px;
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease-in;
}

#footer-bottom > .container > div > nav > ul > li:hover > a {
    color: #ce93d8;
}

#footer-bottom > .container > div:last-of-type > a {
    padding: 0 5px;
    font-size: 15px;
    transition-property: color;
    transition-duration: .2s;
    transition-timing-function: ease-in;
}

#footer-bottom > .container > div:last-of-type > a:hover {
    color: #fff;
}


/* END: : footer */
